.App {
  text-align: center;
}

/* メイン画面のスタイル 
------------------------------------------------------------ */
/* 画面全体 */
.container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 8vh;
  background-color: white;
  box-sizing: border-box;
  /*border-radius: 10px;*/
  border-bottom: #c1c1c1 solid 1px;
  padding: auto;
  text-align: center;
  display: flex;             /* Flexboxレイアウトを有効にする */
  justify-content: center;   /* 水平方向（主軸）の中央揃え */
  align-items: center;  
  margin: 5px 0; /* 上下のマージンを追加 */
  position: relative;
}

.main {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.side-bar {
  width: 25%;
  background-color: rgb(235, 235, 235);
  box-sizing: border-box;
  /*border-radius: 10px;*/
  padding: 10px;
  margin-right: 10px;
}

.content {
  width: 75%;
  max-width: 75%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  position: relative; /* 相対位置を設定して、子要素の絶対配置を可能にする */
  /*border-radius: 10px;*/
}

.notename-edit-button {
  
}

/* ノート名下部に表示されるタグ配列の表示スタイル */
.note-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.note-tags {
  color: #4b95e9;
}
.note-tags:hover {
  color: #0831e7;
}

/* NoteContentの手順ごとのスタイル */
.procedure-item {
  border-bottom: #e3dfdf solid 1px;
  margin: 1rem;
  padding: 1rem;
}

/* 手順削除ボタンのスタイル */
.procedure-name-div { /* procedure-name-divの中にprocedure-name（手順名表示）とdelete-procedure-icon（手順削除ボタン）がある */
  display: flex;
  position: relative;
}
.delete-procedure-icon {
  position: absolute;
  top: 60px;
  right: 20px;

}
.delete-procedure-icon:hover {
  color: red; /* ホバー時に色を変更 */
}
.delete-procedure-icon:active {
  transform: scale(0.8);
}

/* 手順ごとのタグ表示 */
.tag-container {
  display: flex;
  justify-self: start;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.tag-icon {
  margin-top: 5px;
  margin-right: 5px;
}
.procedure-tag {
  color: #4b95e9;
  margin-right: 10px;
  margin-bottom: 5px;
}
.procedure-tag:hover {
  color: #0831e7;
}

.create-tag {
  margin-left: 10px;
  margin-top: 0px;
  width: 23px;
  height: 23px;
}
.create-tag:active {
  transform: scale(0.8)
}
.delete-tag {
  color: #4b95e9;
}
.delete-tag:hover {
  color: red;
}
.delete-tag:active {
  transform: scale(0.8)
}

/* 手順内のフィールドのスタイル */ 
/* 手順名スタイル */
.procedure-name {
  text-align: left;
  cursor: pointer;
}
/* 手順スニペットスタイル */
.procedure-snippet {
  background-color: hsl(0, 0%, 19%);
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  position: relative;
  text-align: left;

}
.copy-button {
  position: absolute;
  top: 10px;
  right: 40px;
}
.copy-button:active  {
  transform: scale(0.8);
}
.snippet-text {
  margin-top: 10rem;
}
.fsPath-text {
  /* 親要素(.procedure-snippet)を基準に絶対配置する */
  position: absolute;

  white-space: pre-wrap;
  
  /* 親要素の下からの距離 */
  bottom: 0.5rem;

  /* 親要素の右からの距離 */
  right: 1rem;
  
  /* 見た目を調整するためのオプション（お好みで変更してください） */
  font-size: 0.8em;
  color: #b0b0b0;
  margin: 0; /* pタグのデフォルトマージンをリセット */
}

/* 手順内説明スニペット */
.procedure-description {
  display: flex;
  align-items: flex-start; /* ← この行でアイコンが小さくなるのを防ぐ */
  background-color: hsl(0, 0%, 97%);
  color: black;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.description-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  flex-shrink: 0; /* この行でアイコンが小さくなるのを防ぐ */
}
.procedure-attention {
  display: flex;
  align-items: flex-start; /* ← この行でアイコンが小さくなるのを防ぐ */
  background-color: hsl(30, 17%, 98%);
  color: black;
  padding: 1rem;
  border: black dashed 1px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.notification-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  flex-shrink: 0; /* この行でアイコンが小さくなるのを防ぐ */
}
/* スニペット用の編集ボタン */
.snippet-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.snippet-edit-button:active {
  transform: scale(0.8);
}
/* 手順名編集ボタン */
.procedure-edit-icon {
  position:absolute;
  top: 60px;
  right: 55px;
}
.procedure-edit-icon:active {
  transform: scale(0.8);
}
/* 説明・注意用の編集ボタン */
.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.edit-button:active {
  transform: scale(0.8);
}
/* 手順作成ボタン */
.create-procedure-icon {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 70px
}
.create-procedure-icon:hover {
  color: rgb(0, 110, 48);
}
/* ノート削除ボタンのスタイル */
.delete-note-icon {
  position: absolute; /* 親要素を基準に絶対配置 */
  top: 15px;          /* 上から15pxの位置 */
  right: 15px;         /* 右から15pxの位置 */
  font-size: 24px;    /* アイコンのサイズを適宜調整 */
  cursor: pointer;    /* カーソルをポインターに変更 */
}
.delete-note-icon:hover {
  color: red; /* ホバー時に色を変更 */
}
.delete-note-icon:active {
  transform: scale(0.8);
}

/* 手順の全展開・全収束を制御するボタン */
.procedure-detail-open-button{
  position: absolute;
  top: 10px;
  left: 0px;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.procedure-detail-open-button:hover {
  color: #f388e6;
}
.procedure-detail-open-button {
  transform: scale(0.8);
}
.procedure-detail-open-icon {
  width: 25px;
  height: 25px;
}
/* detailsタグのアニメーション */
.procedure-content-wrapper {
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  max-height: 0;
}
.procedure-detail-opener[open] > .procedure-content-wrapper {
  max-height: 1000px; /* ★コンテンツが収まる十分な高さを指定 */
}
.procedure-detail-opener > .procedure-name-div {
  transition: margin-bottom 0.7s ease-in-out;
}
.procedure-detail-opener[open] > .procedure-name-div {
  margin-bottom: 15px; /* 開いた時にsummaryとコンテンツの間に少し余白を作る */
}
.procedure-name {
  transition: transform 0.3s;
  display: inline-block; /* transformを適用するため */
}

/* サイドバーのノートボタン設定
------------------------------------------------------------ */
/* タグによるノート検索の設定 */
.search-note-input {
  margin-bottom: 2rem;
  padding: 0.4rem;
  background-color: #f6f1f1;
  border: #c1c1c1 solid 1px;
}
.search-note-input::-webkit-search-cancel-button {   
   height: 16px;   /* キャンセルボタンのサイズ */
   width: 16px;    /*  キャンセルボタンのサイズ */
   cursor:pointer;
}

/* 各ノートボタンの設定 */
.button-note {
    width: 95%;
    background: #ffffff;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.4rem auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    font-weight: 500;
}
.button-note:after {
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.button-note:hover {
    background: #313131;
    color: #FFF;
}
.button-note.selected {/* ノート選択中のスタイル */
  background-color: #313131;
  color: white;
  border-color: black;
  font-weight: bold;
}
/* サイドバーのノート作成ボタン設定 */
.create-note-icon {
  width: 30px;
  height: 30px;
  margin-top: 30px;
}
.create-note-icon:hover {
  color: rgb(0, 110, 48);
}
