.App {
  text-align: center;
}

/* メイン画面のスタイル 
------------------------------------------------------------ */
/* 画面全体 */
.container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 8vh;
  background-color: white;
  box-sizing: border-box;
  /*border-radius: 10px;*/
  border-bottom: #c1c1c1 solid 1px;
  padding: auto;
  text-align: center;
  display: flex;             /* Flexboxレイアウトを有効にする */
  justify-content: center;   /* 水平方向（主軸）の中央揃え */
  align-items: center;  
  margin: 5px 0; /* 上下のマージンを追加 */
  position: relative;
}

.main {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
