/* このCSSは, SidebarGlobal.jsx, NoteContentGlobal.jsxに適用する
 * このCSSはGlobalモードのスタイルのみを定義し, 画面構成などはSidebar.css, NoteContent.cssに依存する 
 */

.header-global {
    background-color: rgb(255, 255, 255);
}
.sidebar-global {
    background-color: rgb(235, 237, 252) !important;
}
.content-global {
    background-color: rgb(239, 238, 238);
}

/* サイドバーのグローバルノート一覧の各ボタン */
.sidebarGlobal-button-note-global:hover {
    background-color: rgb(25, 2, 58) !important;
    border-color: rgb(25, 2, 58) !important;
    color: rgb(255, 252, 176) !important;
}
.sidebarGlobal-button-note-global.selected {/* ノート選択中のスタイル */
  background-color: rgb(25, 2, 58) !important;
  color: rgb(255, 252, 176) !important;
  border-color: rgb(25, 2, 58);
  font-weight: bold;
}
