.content {
  width: 75%;
  max-width: 75%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  position: relative; /* 相対位置を設定して、子要素の絶対配置を可能にする */
  /*border-radius: 10px;*/
}

/* ノート名下部に表示されるタグ配列の表示スタイル */
.note-tags-container {
  display: flex;
  flex-wrap: wrap; /* 要素がコンテナを超えた場合に折り返しを許可 */
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.note-tags {
  color: #4b95e9;
  white-space: nowrap; /* タグ名が長くても改行されないようにする */
}
.note-tags:hover {
  color: #0831e7;
}

/* NoteContentの手順ごとのスタイル */
.procedure-item {
  border-bottom: #e3dfdf solid 1px;
  margin: 1rem;
  padding: 1rem;
}

/* 手順削除ボタンのスタイル */
.procedure-name-div { /* procedure-name-divの中にprocedure-name（手順名表示）とdelete-procedure-icon（手順削除ボタン）がある */
  display: flex;
  position: relative;
}
.delete-procedure-icon {
  position: absolute;
  top: 60px;
  right: 20px;

}
.delete-procedure-icon:hover {
  color: red; /* ホバー時に色を変更 */
}
.delete-procedure-icon:active {
  transform: scale(0.8);
}

/* 手順ごとのタグ表示 */
.tag-container {
  display: flex;
  justify-self: start;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.tag-icon {
  margin-top: 5px;
  margin-right: 5px;
}
.procedure-tag {
  color: #4b95e9;
  margin-right: 10px;
  margin-bottom: 5px;
}
.procedure-tag:hover {
  color: #0831e7;
}

.create-tag {
  margin-left: 10px;
  margin-top: 0px;
  width: 23px;
  height: 23px;
}
.create-tag:active {
  transform: scale(0.8)
}
.delete-tag {
  color: #4b95e9;
}
.delete-tag:hover {
  color: red;
}
.delete-tag:active {
  transform: scale(0.8)
}

/* 手順内のフィールドのスタイル */ 
/* 手順名スタイル */
.procedure-name {
  text-align: left;
  cursor: pointer;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 40px;
}
.copy-button:active  {
  transform: scale(0.8);
}


/* 手順内説明スニペット */
.procedure-description {
  display: flex;
  align-items: flex-start; /* ← この行でアイコンが小さくなるのを防ぐ */
  background-color: hsl(0, 0%, 97%);
  color: black;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.description-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  flex-shrink: 0; /* この行でアイコンが小さくなるのを防ぐ */
}
.procedure-attention {
  display: flex;
  align-items: flex-start; /* ← この行でアイコンが小さくなるのを防ぐ */
  background-color: hsl(30, 17%, 98%);
  color: black;
  padding: 1rem;
  border: black dashed 1px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.notification-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  flex-shrink: 0; /* この行でアイコンが小さくなるのを防ぐ */
}

/* 手順名編集ボタン */
.procedure-edit-icon {
  position:absolute;
  top: 60px;
  right: 55px;
}
.procedure-edit-icon:active {
  transform: scale(0.8);
}
/* 説明・注意用の編集ボタン */
.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.edit-button:active {
  transform: scale(0.8);
}
/* 手順作成ボタン */
.create-procedure-icon {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 70px
}
.create-procedure-icon:hover {
  color: rgb(0, 110, 48);
}
/* ノート削除ボタンのスタイル */
.delete-note-icon {
  position: absolute; /* 親要素を基準に絶対配置 */
  top: 15px;          /* 上から15pxの位置 */
  right: 15px;         /* 右から15pxの位置 */
  font-size: 24px;    /* アイコンのサイズを適宜調整 */
  cursor: pointer;    /* カーソルをポインターに変更 */
}
.delete-note-icon:hover {
  color: red; /* ホバー時に色を変更 */
}
.delete-note-icon:active {
  transform: scale(0.8);
}

/* 手順の全展開・全収束を制御するボタン */
.procedure-detail-open-button{
  position: absolute;
  top: 10px;
  left: 0px;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.procedure-detail-open-button:hover {
  color: #f388e6;
}
.procedure-detail-open-button {
  transform: scale(0.8);
}
.procedure-detail-open-icon {
  width: 25px;
  height: 25px;
}
/* detailsタグのアニメーション */
.procedure-content-wrapper {
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  max-height: 0;
}
.procedure-detail-opener[open] > .procedure-content-wrapper {
  max-height: 1000px; /* ★コンテンツが収まる十分な高さを指定 */
}
.procedure-detail-opener > .procedure-name-div {
  transition: margin-bottom 0.7s ease-in-out;
}
.procedure-detail-opener[open] > .procedure-name-div {
  margin-bottom: 15px; /* 開いた時にsummaryとコンテンツの間に少し余白を作る */
}
.procedure-name {
  transition: transform 0.3s;
  display: inline-block; /* transformを適用するため */
}

/* スニペット集モーダルの設定 
------------------------------------------------------------ */
.modal-open-button {
    position: absolute;
    top: 15px;
    right: 70px;
    width: 25px;
    height: 25px;
}
.modal-open-button:hover {
    color: #001a8e;
}
.modal-open-button:active {
    transform: scale(0.8);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* モーダルの中身のスタイル */
.modal-container {
    position: relative;
}
.modal-content {
  background-color: white;
  padding: 20px 20px 20px 20px; /* 閉じるボタンと被らないように右のパディングを調整 */
  border-radius: 8px;
  position: relative; /* 閉じるボタンの基準位置 */
  
  width: 90vw; /* 横幅が広くなりすぎないように最大幅を指定 (任意) */
  height: 85vh; /* ビューポートの高さの85%を最大高に設定 */
  overflow-y: auto; /* 縦方向にはみ出したコンテンツをスクロール可能にする */
}
.modal-close-button {
  position: absolute;
  top: 40px; /* 位置を微調整 */
  right: 25px; /* 位置を微調整 */
  cursor: pointer;
  font-size: 24px;
  color: whitesmoke;
}
.modal-close-button:active {
    transform: scale(0.8);
}

/* Webkit系ブラウザ用のスクロールバーのスタイル（任意） */
.modal-content::-webkit-scrollbar {
  width: 8px;
}
.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
