/* 全体部分
--------------------------------------------------------------------------------------- */ 
.procedure-command-execution-container {
  display: flex;
  flex-direction: column;
}

.label-command {
  text-align: start;
}

/* 実行コマンド部分
--------------------------------------------------------------------------------------- */ 
/* 実行コマンドのコンテナ */ 
.commandExecution-container {
  background-color: hsl(0, 0%, 19%);
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}
/* 実行コマンド'code'タグ */
.commandExecution-command {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.copy-button {
  position: absolute;
  top: 10px;
  right: 40px;
}
.copy-button:active  {
  transform: scale(0.8);
}
/* スニペット用の編集ボタン */
.codeEdit-code-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}
.codeEdit-code-edit:active {
  transform: scale(0.8);
}

/* 実行コマンド部分ここまで ---------------------------------------------------------------- */ 

/* 実行結果部分
--------------------------------------------------------------------------------------- */ 
/* 実行結果のコンテナ */ 
.commandOutput-container {
  background-color: hsl(0, 0%, 19%);
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  overflow: auto; /* codeの横方向へのスクロール可 */
  max-height: 500px;
}
/* 実行結果の'code'タグ */
.commandOutput-code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
/* 実行結果がない場合の表示 */
.commandOutput-nooutput {
  color: gray;
}