/* 2つの<pre>要素がスペースを均等に分け合い、"中のテキストを左揃え" にする */
.filetree-container {
    overflow: auto;
}
.filetree-container > pre {
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    background-color: rgb(56, 56, 56);
    color: white;
    max-width: 100%;
    min-width: fit-content;
}

.filetree {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


/**/